@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

@layer base {
     * {
        font-family : 'Montserrat', sans-serif;
    }

    body {
        @apply bg-white text-gray-800;
    }


}

@layer components {
    /* be careful what selector you write for */
    /* these styles are applyng just for card item card-item */

    .card-league {
        @apply max-w-xs mx-5 px-8 py-10 bg-white rounded-lg shadow-md text-center;
    }

    .card-league h2 {
        @apply mt-4 font-bold text-2xl;
    }

    .card-league p {
        @apply mt-4;
    }

    .card-game {
        @apply mx-20 rounded-lg bg-white px-14 py-10 text-center shadow-xl mt-20;
    }

    .card-comment {
        @apply mx-5 rounded-lg h-32 w-64 bg-white px-10 pt-2 mt-20 text-center shadow-md;
    }

    /* end card-item */

    /* detail-league-page style */

    .detailLeague,
    .detailLeague p {
        @apply text-center font-bold mb-11
    }

    .table-frame {
        @apply relative overflow-x-auto grid justify-center
    }

    #table-header {
        @apply m-6 text-sm text-center text-black border-collapse border border-slate-500
    }

    thead {
        @apply text-xs text-black uppercase
    }

    tr>th {
        @apply px-6 py-6
    }

    tbody {
        @apply border-collapse border border-slate-500
    }

    tbody>th {
        @apply px-6 py-4 whitespace-nowrap
    }

    /* Info Player  */

    .info {
        min-width: 12.5rem;
        @apply max-w-sm m-4 p-7 bg-white rounded-xl;
    }

    .info td:first-child {
        @apply font-bold;
    }

    /* accordion for tab players  */
    .accordion-content {
        transition: max-height 0.3s ease-out, padding 0.3s ease;
    }


    /* dark mode  */

    .side-top {
        @apply dark:bg-gray-700;
    }

    .text-next-match span i {
        @apply dark:text-white;
    }

    button[id^="select"] {
        @apply dark:text-gray-800 mx-2 w-1/4 md:w-1/6;
    }

    .item-list {
        @apply dark:text-gray-800;
    }

    .list-history tbody {
        @apply dark:text-gray-800;
    }

    .mobile-menu ul li a {
        @apply dark:text-gray-800;
    }

    /* these styles are applying just for footer */
    nav img {
        @apply h-8;
    }

    footer p {
        @apply mt-2 text-gray-500 text-sm;
    }

    footer h3 {
        @apply font-bold text-2xl text-sky-800 mb-4;
    }

    footer form {
        @apply max-w-2xl my-8 mx-auto p-4;
    }

    footer label {
        @apply block;
    }

    footer input,
    footer textarea {
        @apply mt-1 py-2 px-3 border border-gray-300 rounded-md w-full resize-none;
    }

    footer button {
        @apply inline-block px-1 py-1 text-white font-bold rounded-full;
    }

    .footer-col ul li {
        @apply flex gap-5 mb-6 md:text-2xl text-sm text-white;
    }

    /* end footer */
    .fade-in {
        @apply opacity-0
    }

    .fade-in.lazyloaded {
        @apply opacity-100;
        transition: opacity 3000ms 300ms;
    }
}