@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
@layer base {
    body {
        @apply bg-white text-gray-800;
    }
}

@layer components {
    /* be careful what selector you write for */
    /* these styles are applyng just for card item card-item */
    .card-league {
        @apply max-w-xs mx-5 px-8 py-10 bg-white rounded-lg shadow-md text-center;
    }
    .card-league h2 {
        @apply mt-4 font-bold text-2xl;
    }
    .card-league p {
        @apply mt-4;
    }
    .card-game {
        @apply mx-20 rounded-lg bg-white px-14 py-10 text-center shadow-md;
    }
    /* end card-item */
    /* these styles are applying just for footer */
    .footer-col:not(:last-child) {
        @apply mr-20;
    }
    nav img {
        @apply h-8;
    }
    footer p {
        @apply mt-2 text-gray-500 text-sm;
    }
    footer h3 {
        @apply font-bold text-2xl text-sky-800 mb-4;
    }
    footer form {
        @apply max-w-2xl my-8 mx-auto p-4;
    }
    footer label {
        @apply block;
    }
    footer input,
    footer textarea {
        @apply mt-1 py-2 px-3 border border-gray-300 rounded-md w-full resize-none;
    }
    footer button {
        @apply inline-block px-1 py-1 text-white font-bold rounded-full;
    }
    /* end footer */
}